/*PARTE DO SUPORTE
login.html*/
.container {
    width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0);
    margin-top: 8rem;
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    border-radius: 30px;
    padding-left: 40px;
    text-align: center;

}

#logo-login {
    width: 40%;
    height: auto;
    margin-top: 10px;
}

#personagem {
    display: flex;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    margin-left: auto;
    margin-top: -3rem;
}

body {
    font-family: 'Inter';
    color: white;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: block;
    margin: auto;
    margin-top: 2rem;
    border: solid 4px white;

}

.circle img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
    filter: invert(100);

}

.user-jogos {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.user-jogos img {
    width: 25rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
}

.border-img {
    width: 28rem;
    height: 21rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
}




@media screen and (max-width: 1200px) {
    .user-jogos {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .user-jogos img {
        width: 15rem;
        height: 10rem;
        object-fit: cover;
        border-radius: 10px;
    }

    .border-img {
        width: 17rem;
        height: 15rem;
        border: 1px solid rgb(255, 255, 255);
        padding: 1rem;
        border-radius: 10px;
        margin: auto;
    }
}

.qr {
    width: 20%;
    margin-bottom: 1rem;
    border: solid 20px white;
    border-radius: 10px;
}

.form-all {
    margin-top: 4rem;
    font-size: 2rem;
}

.discord {
    color: white;

}

.p-suport {
    font-size: 1.5rem;
}

.form {
    margin-top: 2rem;
    margin-left: 2rem;
    --width-of-input: 90%;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
}

/* styling of Input */
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}

/* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

/* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
input:focus~.input-border {
    width: 100%;
}


.button {
    font-size: 18px;
    color: #b4b4b4;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    margin-top: 1rem;
}

.button:hover {
    color: #fff;
}

.adms img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.adms{
    display: block;
}

