.logo{
    height: 3rem;
}

body{
    background-image: url(./image/fundo.jpg);
    background-size: 100%;
}

nav{
    background-color: black;
    width: 100%;
  
}

.btn-login{
    height: 3rem;
    width: 8rem;
    margin: 0px;
    background-color: #0078F2;
    font-family: Inter;
    font-size: 24px;
    align-items: center;
    border: 6px;
}

.form-control{
    border-radius: 50px;
    width: 20%;
    margin-top: 2rem;
    margin-left: 1rem;
}

.btn{
    margin-top: 2rem;
    text-align: center;
}

.btn img{
    height: 1.2rem;
}

.slide{
    margin: 5rem;
    width: 80rem;
    border-radius: 20px;
    size: 80%;
    border: black 5px;
    margin-left: auto;
    margin-right: auto;
}

h5{

    font-size: 3rem;
}

.nav-item{
    margin-left: 2rem;
    text-align: center;
}

.card img{
    height: auto;
    width: 200px;
}

/* PARTE DO LUCAS*/
.lcs-h1{
color: white;
text-align: center;
}
.fifa{
    margin-top: 6rem;
    height: 300px;
    align-items: end;
    margin-left: 2rem;
}

.fifa-video{
    width: 500px;
}
.midia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.lc{
    color: white;
    font-size: 24px;
    margin-left: 2rem;
    text-align: center;
}