.logo{
    height: 3rem;
}

.fundo{
    background-image: url(./image/fundo.jpg);
    position: fixed;
    background-size: 100%;
}

header{
    background-color: black;
}

.btn-login{
    height: 3rem;
    width: 8rem;
    margin: 0px;
    background-color: #0078F2;
    font-family: Inter;
    font-size: 24px;
    align-items: center;
    border: 6px;
}

.form-control{
    border-radius: 50px;
    width: 20%;
    margin-top: 2rem;
    margin-left: 1rem;
}

.btn{
    margin-top: 2rem;
    text-align: center;
}

.btn img{
    height: 1.2rem;
}

.slide{
    margin: 5rem;
    width: 80rem;
    border-radius: 20px;
    size: 80%;
    border: black 5px;
    margin-left: auto;
    margin-right: auto;
}

h5{

    font-size: 3rem;
}

.nav-item{
    margin-left: 50%;
    text-align: center;
}

.card img{
    height: auto;
    width: 200px;
}