/* PARTE DA KYARA*/
.container {
    width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: .5rem;
    border-radius: 30px;
    padding-left: 40px;
    
}

#logo-cadastro {
    width: 45%;
    height: auto;
    margin-top: 10px;
}

#mascote {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: -3rem;
    width: 120px;
    height: 120px;

}

.texto {
    text-align: center;
    margin-top: 3px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    
}

.idade, .email, .nome, .nickname, .senha, .confirmar-senha, .campo{
    margin-top: 10px;
    font-size: 18px;
    color: white;
}

.idade {
    width: 10%;
}

.email {
    width: 75%;
}


.form-senha {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;
    

}

.form-confirmar {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;

}


.form-idade {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;

}

.form-nome {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;
}

.form-email {
    width: 100%;
    background-color: rgb(82, 80, 80);
    border-radius: 10px; 
    color: white;
}

.botão {
    background-color: #0078F2;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2rem 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn-cadastro {
    color: white;
    text-decoration: none;
}

