/* FIFA.html */
.lcs-h1 {
    color: white;
    text-align: center;
    font-weight: 1000;
}


.fifa-video {
    width: 50%;
    height: 30rem;
    object-fit: cover;
    margin-left: 1rem;
}

.img-fifa {
    width: 34%;
    height: 20rem;
    object-fit: contain;
    margin-top: -2px;
    margin-left: 10%;
}

.midia {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    float: right;
    flex-direction: row;

}

.texto-r {
    text-align: justify;
    color: white;
    float: right;
    margin-right: 5rem;
    width: 30%;
    font-size: 18px;
    font-weight: 400;
    margin-left: 12%;
    margin-top: -155px;
}

h6 {
    font-weight: 400;
}

.flex_jbase {
    width: 50px;
    height: 30px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    font-family: 'Sigmar';
}

.flex_jogobase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.but button {
    border: 2px solid #ff000082;
    background-color: #ff000082;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 12em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;   
    margin-top: 2rem;
    
}

.but button span {
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    margin: auto;
}

.but button:hover {
    background-color: #a90a0a;
}

.cmp {
    margin-left: -175px;
}

.but {
    margin-left: 300px;
}


@media screen and (max-width: 1200px) {
    /* FIFA.html */
.lcs-h1 {
    color: white;
    text-align: center;
    font-weight: 1000;
}


.fifa-video {
    width: 80%;
    height: 30rem;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.img-fifa {
    width: 75%;
    height: auto;
    object-fit: contain;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.midia {
    width: 100%;
    margin-bottom: 2rem;
}

.texto-r {
    text-align: justify;
    color: white;
    width: 75%;
    height: auto;
    font-size: 18px;
    float: none;
    font-weight: 400;
    margin-top: 155px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

h6 {
    font-weight: 400;
}

.flex_jbase {
    width: 50px;
    height: 30px;
    background-color: blue;
    text-align: center;
    border-radius: 10px;
    font-family: 'Sigmar';
}

.flex_jogobase {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.but button {
    border: 2px solid #ff000082;
    background-color: #ff000082;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 12em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.but button span {
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.but button:hover {
    background-color: #a90a0a;
}


.cmp {
    margin-left: -175px;
}

.but {
    margin-left: auto;
    margin-right: auto;
}
}
